$def with (config_data)

<html>
  <head>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript">google.load("jquery", "1.3.2");</script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      
      var t_chart;
      var h_chart;
      google.setOnLoadCallback(init);
      
      setInterval(function(){drawtChart()},2000);
      setInterval(function(){drawhChart()},2000);
      
      function init() {
        t_chart = new google.visualization.Gauge(document.getElementById('t_chart_div'));
        h_chart = new google.visualization.Gauge(document.getElementById('h_chart_div'));
        drawtChart();
        drawhChart();
      }
      
      function drawtChart() {
        var jsonData = JSON.parse($$.ajax({url: "json", dataType:"json", async: false}).responseText);
        
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Temp', jsonData.temperature]
        ]);

        var options = {
          width: 400, height: 120,
          greenFrom: $config_data['temperature_low'], greenTo: $config_data['temperature_high'],
          redFrom: $config_data['temperature_high'], redTo: 100,
          yellowFrom:0, yellowTo: $config_data['temperature_low'],
          minorTicks: 5,
          animation:{
            uration: 250,
            easing: 'linear'
          }
        };

        t_chart.draw(data, options);
      }
      
      function drawhChart() {
        var jsonData = JSON.parse($$.ajax({url: "json", dataType:"json", async: false}).responseText);
        
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Humidity', jsonData.humidity]
        ]);

        var options = {
          width: 400, height: 120,
          greenFrom: $config_data['humidity_low'], greenTo: $config_data['humidity_high'],
          redFrom: 0, redTo: $config_data['humidity_low'],
          yellowFrom:$config_data['humidity_high'], yellowTo: 100,
          minorTicks: 5,
          animation:{
            duration: 250,
            easing: 'linear'
          }
        };

        h_chart.draw(data, options);
      }    
  </script>
  <title>$config_data['name'].capitalize() at $config_data['location']</title>
  </head>
  <body>
    <h1>$config_data['name'].capitalize() at $config_data['location']</h1>
    <div id='t_chart_div'></div>
    <div id='h_chart_div'></div>
  </body>
</html>
