$def with ()

<html>
  <head>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript">google.load("jquery", "1.3.2");</script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['gauge']});
      
      var t_chart;
      var h_chart;
      google.setOnLoadCallback(init);
      
      setInterval(function(){drawtChart()},2000);
      setInterval(function(){drawhChart()},2000);
      
      function init() {
        t_chart = new google.visualization.Gauge(document.getElementById('t_chart_div'));
        h_chart = new google.visualization.Gauge(document.getElementById('h_chart_div'));
        drawtChart();
        drawhChart();
      }
      
      function drawtChart() {
        var jsonData = JSON.parse($$.ajax({url: "json", dataType:"json", async: false}).responseText);
        
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Temp', jsonData.temperature]
        ]);

        var options = {
          width: 400, height: 120,
          greenFrom: 15, greenTo: 27,
          redFrom: 35, redTo: 100,
          yellowFrom:27, yellowTo: 35,
          minorTicks: 5,
          animation:{
            uration: 250,
            easing: 'linear'
          }
        };

        t_chart.draw(data, options);
      }
      
      function drawhChart() {
        var jsonData = JSON.parse($$.ajax({url: "json", dataType:"json", async: false}).responseText);
        
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Humidity', jsonData.humidity]
        ]);

        var options = {
          width: 400, height: 120,
          greenFrom: 25, greenTo: 50,
          redFrom: 60, redTo: 100,
          yellowFrom:50, yellowTo: 60,
          minorTicks: 5,
          animation:{
            duration: 250,
            easing: 'linear'
          }
        };

        h_chart.draw(data, options);
      }    
  </script>
  </head>
  <body>
    <div id='t_chart_div'></div>
    <div id='h_chart_div'></div>
  </body>
</html>
